<html>
	
	<head>
		<link rel=stylesheet type="text/css" href="dome.css">
		<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	</head>

<body>
<div class="container">
<h1>Restaurants</h1>
	
	
	
	
	
	
	
	
<a href="/restaurant/new">Create New Restaurant</a><br>
	
	





<div>
	<p>

	<a style="font-size:20px;" class="menu-title" href="/restaurant/1/menu">Pizza Hut</a><br>

	
	
<a href="/restaurant/1/edit">Edit</a><br>

<a href="/restaurant/1/delete">Delete</a><br>
	<br><br>
	</p>
</div>




<div>
	<p>

	<a style="font-size:20px;" href="/restaurant/2/menu">Nachos and Tacos </a><br>

	
	
<a href="/restaurant/2/edit">Edit</a><br>

<a href="/restaurant/2/delete">Delete</a><br>
	<br><br>
	</p>
</div>

	</div>

</body>

</html>