
<html>
	
	<head>
		<link rel=stylesheet type="text/css" href="dome.css">
		<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	</head>

<body>
	<div class="container">

<h1>Nachos and Tacos </h1>
	
	
	
	
	
	
	
	
<br><a  href="/restaurant/2/new/">Create New Item</a><br><br>
	
	<a href="/restaurant">Back to Restaurants</a>
	
	<br><br><br>

		

	

		

		<div>

		<span class="title">Big Mac</span><span>&nbsp;(Entree)</span><br>

		<span>Made with all natural ingredients and fresh beef</span><br>

		<span>$$4.99 </span><br>
			
		


		<a href="/restaurant/2/2/edit">Edit</a><br>

		<a href="/restaurant/2/2/delete/">Delete</a><br>
			
		<br><br>

		</div>



		
	
	
	
	
	

	</div>
	
	
	
	
</body>

</html>